{% load books_tags %}
{% csrf_token %}
<input type="hidden" name="type" id="type" value="{{ type }}">
{% for field in form %}
    <div class="form-group">
        <label class="control-label input-label" for="{{ field.name }}">
            {{ field.name|label_name }}
        </label>
        {{ field }}
    </div>
    {% if form.errors|get_item:field.name %}
        <div class="invalid-feedback">
            {{ form.errors|get_item:field.name }}
        </div>
    {% endif %}
{% endfor %}
<div class="text-center general-text-align">
    {% if type == 'ShippingAddress' %}
        <div class="form-check" style="float: right;">
            <label class="form-check-label" for="use-billing">
                <input class="form-check-input" type="checkbox" value="" id="use-billing" onchange="useBilling(this)">
                Use Billing Address
            </label>
        </div>
    {% endif %}
    <button class="btn" type="submit">
    Save
    </button>
</div>
