{% load static %}
{% load books_tags %}
{% get_categories as categories %}

<button class="close" type="button" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
</button>
<ul class="nav navbar-nav">
    <li>
      <a href="{% url 'home' %}">
        Home
      </a>
    </li>
    <li>
      <a type="button" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">
        Shop
      </a>
      <ul id="menu" class="collapse list-unstyled pl-30 mb-10" aria-expanded="false">
        {% for category in categories %}
          <li>
            {% if 'books' in request.get_full_path %}
              <a class="collapse-link" href="?filter={{ category.id }}">
                {{ category }}
              </a>
            {% else %}
              <a class="collapse-link" href="books?filter={{ category.id }}">
                {{ category }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a type="button" data-toggle="collapse" href="#account" aria-expanded="false" aria-controls="account">
        My account
      </a>
      <ul id="account" class="collapse list-unstyled pl-30 mb-10" aria-expanded="false">
        {% if user.is_authenticated %}
          <li>
            <a class="collapse-link" href="#">
              Orders
            </a>
          </li>
          <li>
            <a class="collapse-link" href="#">
              Settings
            </a>
          </li>
          <li>
            <a class="collapse-link" href="{% url 'logout' %}">
              Log out
            </a>
          </li>
        {% else %}
          <li>
            <a class="collapse-link" href="{% url 'sign_in' %}">
              Sign in
            </a>
          </li>
          <li>
            <a class="collapse-link" href="{% url 'sign_up' %}">
              Sign up
            </a>
          </li>
        {% endif %}
      </ul>
    </li>
</ul>
