{% load static %}

<div class="mb-35">
    <h3>
      Best Sellers
    </h3>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail">
            <img class="img-shadow general-thumbnail-img" src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book"/>
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-eye thumb-icon" aria-hidden="true">
                  </i>
                </a>
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-shopping-cart thumb-icon">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-35">
          <div class="clearfix">
            <p class="pull-right font-16 in-gold-500">
              €28.50
            </p>
            <p class="title mr-55">
              Android Programming for Beginners
            </p>
          </div>
          <span class="divider-sm">
          </span>
          <p class="lead small">
            John Horton
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail disabled">
            <img class="img-shadow general-thumbnail-img" src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book"/>
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-eye thumb-icon" aria-hidden="true">
                  </i>
                </a>
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-shopping-cart thumb-icon">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-35">
          <div class="clearfix">
            <p class="pull-right font-16 in-gold-500">
              €28.50
            </p>
            <p class="title mr-55">
              Android Programming for Beginners
            </p>
          </div>
          <span class="divider-sm">
          </span>
          <p class="lead small">
            John Horton
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail">
            <img class="img-shadow general-thumbnail-img" src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book"/>
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-eye thumb-icon" aria-hidden="true">
                  </i>
                </a>
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-shopping-cart thumb-icon">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-35">
          <div class="clearfix">
            <p class="pull-right font-16 in-gold-500">
              €28.50
            </p>
            <p class="title mr-55">
              Android Programming for Beginners
            </p>
          </div>
          <span class="divider-sm">
          </span>
          <p class="lead small">
            John Horton
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="general-thumb-wrap">
          <div class="thumbnail general-thumbnail">
            <img class="img-shadow general-thumbnail-img" src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book"/>
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-eye thumb-icon" aria-hidden="true">
                  </i>
                </a>
                <a class="thumb-hover-link" href="#">
                  <i class="fa fa-shopping-cart thumb-icon">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-35">
          <div class="clearfix">
            <p class="pull-right font-16 in-gold-500">
              €28.50
            </p>
            <p class="title mr-55">
              Android Programming for Beginners
            </p>
          </div>
          <span class="divider-sm">
          </span>
          <p class="lead small">
            John Horton
          </p>
        </div>
      </div>
    </div>
</div>
