{% extends '../../base.html' %}
{% block content %}
          

<main class="container general-main-wrap">
	<div class="text-center">
	  <h1 class="mb-30">
		Forgot your password?
	  </h1>
	  <p class="general-password-text">
		We'll email you instructions on how to reset it
	  </p>
	</div>
	<form class="general-form" method="POST">
		{% csrf_token %}
		<div class="form-group mb-25">
			<input id="email" class="form-control" name="email" type="email" placeholder="Enter your email">
			</input>
		</div>
		<button class="btn btn-default center-block mb-20" type="submit">
			Email Instructions
		</button>
		<div class="text-center">
			<a class="in-gold-500 mb-20" href="{% url 'home' %}">
				Cancel
			</a>
		</div>
	</form>
</main>
{% endblock %}
