{% extends '../../base.html' %}

{% block content %}
<main class="container general-main-wrap">
    <div class="text-center">
      <h3 class="general-login-title">
        Set new password
      </h3>
    </div>
    <form class="general-form" method="POST">
        {% csrf_token %}
        <div class="form-group mb-30">
            <label class="control-label input-label" for="id_new_password1">
            Type a new Password
            </label>
            <input class="form-control" name="new_password1" autocomplete="new-password" id="id_new_password1" type="password" placeholder="Type a new Password" required>
            </input>
        </div>
        <div class="form-group mb-40">
            <label class="control-label input-label" for="id_new_password2">
            Confirm Password
            </label>
            <input class="form-control" name="new_password2" autocomplete="new-password" id="id_new_password2" type="password" placeholder="Confirm Password" required>
            </input>
        </div>
        {% if form.errors %}
            <div class="invalid-feedback">
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
        <button class="btn btn-default center-block mb-20" type="submit">
            Change
        </button>
    </form>
</main>
{% endblock %}
