{% load static %}
{% load books_tags %}
{% get_categories as categories %}

<ul class="nav navbar-nav">
  <li>
    <a href="{% url 'home' %}">
      Home
    </a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Shop
    </a>
    <ul class="dropdown-menu">
      {% for category in categories %}
      <li>
        {% if 'books' in request.get_full_path %}
          <a href="?filter={{ category.id }}">
            {{ category }}
          </a>
        {% else %}
        <a href="books?filter={{ category.id }}">
          {{ category }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% if user.is_authenticated %}
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        My account
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            Orders
          </a>
        </li>
        <li>
          <a href="{% url 'settings' %}">
            Settings
          </a>
        </li>
        <li class="divider" role="separator">
        </li>
        <li>
          <a href="{% url 'logout' %}">
            Log out
          </a>
        </li>
      </ul>
    </li>
  {% else %}
  <li>
    <a href="{% url 'sign_in' %}">
      Sign in
    </a>
  </li>
  <li>
    <a href="{% url 'sign_up' %}">
      Sign up
    </a>
  </li>
  {% endif %}
</ul>
