<button class="close" type="button" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
</button>
<ul class="nav navbar-nav">
    <li>
      <a href="{% url 'home' %}">
        Home
      </a>
    </li>
    <li>
      <a type="button" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">
        Shop
      </a>
      <ul id="menu" class="collapse list-unstyled pl-30 mb-10" aria-expanded="false">
        <li>
          <a class="collapse-link" href="#">
            Mobile development
          </a>
        </li>
        <li>
          <a class="collapse-link" href="#">
            Photo
          </a>
        </li>
        <li>
          <a class="collapse-link" href="#">
            Web design
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        My account
      </a>
    </li>
</ul>
