{% load static %}
{% load get_item %}

<div class="dropdowns pull-right">
    <div class="dropdown width-240">
        <a class="dropdown-toggle lead small" id="current_sorter_name" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ sorters|get_item:current_sorter }}
        <i class="fa fa-angle-down dropdown-icon pull-right">
        </i>
        </a>
        <ul class="dropdown-menu">
            <li class="sorter">
                <a href="?filter={{ current_filter }}&sorter=-title">
                    Title DESC
                </a>
            </li>

            <li class="sorter">
                <a href="?filter={{ current_filter }}&sorter=title">
                    Title ASC
                </a>
            </li>
            <li class="sorter">
                <a href="?filter={{ current_filter }}&sorter=-created">
                    Newest first
                </a>
            </li>
            <li class="sorter">
                <a href="?filter={{ current_filter }}&sorter=-price">
                    Price: Hight to low
                </a>
            </li>
            <li class="sorter">
                <a href="?filter={{ current_filter }}&sorter=price">
                    Price: Low to hight
                </a>
            </li>
        </ul>
    </div>
</div>
